.additional-information-inputs {
    height: 31em;
}

.additional-information-inputs {
    background: rgba(0, 0, 0, 0.5);
    width: 50em;
    margin: 2.5em 6em;
}

.additional-information-inputs input {
    background: none;
    border: none;
    height: 2.5em;
    border-bottom: 3px solid var(--main-gold);
    width: 24%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.additional-information-inputs input[name="email"]{
    margin-left: 10em;
}

.additional-information-inputs input[name="date"]{
    width: 70%;
}

.additional-information-inputs input[type="file"]{
    width: 70%;
}


.additional-information-inputs textarea {
    background: none;
    border: none;
    border-bottom: 3px solid var(--main-gold);
    color: white;
}

.additional-information-inputs button {
    margin: 2em 0;
    padding: 1em 6em;
    background: var(--main-gold, red);
    border: 3px solid black;
}

.additional-contact-information {
    margin: 6em 0 0 4em;
}

.additional-contact-information h3 {
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 3px solid var(--main-gold);;
}

.additional-contact-information p {
    padding: 0;
    width: 40ch;
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
}