.additional-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13em;
    padding: 2em 0;
}

.additional-information h1 {
    background: black;
    color: var(--main-gold, red);
}

.additional-information p {
    padding: 0 1em;
    background: black;
    color: var(--main-gold, red);
}

