body {
    background: url('../../static/images/background-image.jpg');
    
    color: rgba(197, 194, 194, 1);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.site {
    max-width: var(--layout-main-width, 70em);
    margin: 0 auto;

}

.some-link {
    list-style-type: none;
}
