.site-index {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.who-am-i-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13em;

    padding: 2em 0;
}

.who-am-i-description h1 {
    background: black;
    color: var(--main-gold, red);
}

.who-am-i-description p {
    background: black;
    color: var(--main-gold, red);
    padding: 0 0.5em;
}
