.site-nav {
    display: flex;
    position: relative;
    top: 7.5em;
}

.selected-link {
    border-bottom: 4px solid var(--main-gold, red);
}

.selected-link:visited {
    color: white;
}

.site-nav a {
    display: inline-block;
    margin: 0 3em;
}

.site-nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--main-gold, red);
    transition: width .3s;
}

.site-nav a:visited{
    color: white;
}