.contact-form {
    background-image: url("../../../static/images/contact-from-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 20% right 30%;
    height: 33em;
    width: 100%;

    display: flex;
}

.contact-form form {
    background: rgba(0, 0, 0, 0.4);
    width: 50em;
    margin: 2em 0 2em 6em;
}

.contact-form form input {
    background: none;
    border: none;
    height: 3em;
    border-bottom: 3px solid var(--main-gold);
    width: 24%;
    margin-top: 1em;
    margin-bottom: 2em;
}

.contact-form form input[name="email"]{
    margin-left: 10em;
}

.contact-form form textarea {
    background: none;
    border: none;
    border-bottom: 3px solid var(--main-gold);
    color: white;
}

.contact-form form button {
    margin: 2em 0;
    padding: 1em 6em;
    background: var(--main-gold, red);
    border: 3px solid black;
}

.additional-contact-information {
    margin: 6em 0 0 4em;
}

.additional-contact-information h3 {
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid var(--main-gold);;
}

.additional-contact-information p {
    padding: 0;
    width: 40ch;
    text-align: left;
    background: rgba(0, 0, 0, 0.4);
}