.site-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 25em;
    width: 100%;
    background-image: url("../../static/images/background-header.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.site-header h1 {
    display: inline-block;
    margin: 0;
}

.site-header a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--main-gold, red);
    transition: width .3s;
}


