.loading-spinner {
    height: 15em;
    width: 15em;
    grid-column-start: 2;
    background-image: url("../../static/images/loading-spinner.jpg");
    background-size: cover;

    transition: all .5s ease-in-out;
    animation: rotateSpinner 2s infinite linear;
}